@font-face {
  font-family: 'scms';
  src:  url('fonts/scms.eot?rc279n');
  src:  url('fonts/scms.eot?rc279n#iefix') format('embedded-opentype'),
    url('fonts/scms.ttf?rc279n') format('truetype'),
    url('fonts/scms.woff?rc279n') format('woff'),
    url('fonts/scms.svg?rc279n#scms') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'scms' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e924";
}
.icon-menu:before {
  content: "\e925";
}
.icon-notification:before {
  content: "\e926";
}
.icon-student-attendance:before {
  content: "\e922";
}
.icon-teacher-attendance:before {
  content: "\e923";
}
.icon-add:before {
  content: "\e921";
}
.icon-exam-paper:before {
  content: "\e91e";
}
.icon-exam-result:before {
  content: "\e91f";
}
.icon-exam-score:before {
  content: "\e920";
}
.icon-detail:before {
  content: "\e919";
}
.icon-invoice:before {
  content: "\e91a";
}
.icon-next:before {
  content: "\e91b";
}
.icon-previous:before {
  content: "\e91c";
}
.icon-print:before {
  content: "\e91d";
}
.icon-delete:before {
  content: "\e917";
}
.icon-edit:before {
  content: "\e918";
}
.icon-left-point:before {
  content: "\e916";
}
.icon-stop:before {
  content: "\e911";
}
.icon-warning:before {
  content: "\e912";
}
.icon-ok:before {
  content: "\e913";
}
.icon-deny:before {
  content: "\e914";
}
.icon-accept:before {
  content: "\e915";
}
.icon-reset:before {
  content: "\e90f";
}
.icon-save:before {
  content: "\e910";
}
.icon-corss:before {
  content: "\e90e";
}
.icon-exam:before {
  content: "\e90d";
}
.icon-attendance:before {
  content: "\e900";
}
.icon-certificate:before {
  content: "\e901";
}
.icon-company:before {
  content: "\e902";
}
.icon-courses:before {
  content: "\e903";
}
.icon-dashboard:before {
  content: "\e904";
}
.icon-payment:before {
  content: "\e905";
}
.icon-register:before {
  content: "\e906";
}
.icon-report:before {
  content: "\e907";
}
.icon-setting:before {
  content: "\e908";
}
.icon-student:before {
  content: "\e909";
}
.icon-subject:before {
  content: "\e90a";
}
.icon-teacher:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
