$white:#fff;
$light-blue:#1ad6fd;
$blue:#1d62f0;
$light-pink:#ef4db6;
$pink:#c643fc;
$purple:#5856d6;
$light-green:#87fc70;
$green:#0bd318;
$light-red:#ff5e3a;
$red:#ff2a68; 
$light-orange:#ff9500;
$orange:#ff5e3a;
$light-teal:#55efcb;
$teal:#5bcaff;
$light-yellow:#ffdb4c;
$yellow:#ffbc00;
$light-grey:#dbddde;
$grey:#898c90;

$dashboard-icon-size:90px;
